.leaflet-marker-pane > * {
    -webkit-transition: transform 200ms linear;
    -moz-transition: transform 200ms linear;
    -o-transition: transform 200ms linear;
    -ms-transition: transform 200ms linear;
    transition: transform 200ms linear;
}
